
a, a:active {
    color : black;
}

html {
    background : white;
}

main {
    color : black;
}

main > * {
    color : #212121;
}

.AuthorName > a, .AuthorName > a:active  {
    color : white;
}

/* 
    Discussion
*/
#submitButton >i {
    color : #212121;
}