* {
    color : white;
}
a, a:active {
    color : white;
}

html {
    background : #353436;
}

/* 
    profile
*/
.ProfileLine {
    border-bottom : 1px solid #f1f1f1;
}
.mailLine {
    border : none;
}

.categLink > i {
	color : white;
}