/*
    @Title : connexion
    @For : FreeNote
    @Started on : 13/10/19
    @Finished on : 13/10/19
*/





/*
    PageTitleContainer & components
*/
#PageDescription {
    font-size: 20px;
}


/*
    Form
*/
#FormContainer {
    padding : 20px 55px 20px 55px;
}


/*
    input text & password
*/
input[type = 'password'], input[type = 'text']  {
    width : 80%;

    padding : 10px 0 10px 0;

    background : none;

    border : none;
    border-bottom: 3px solid #ff793f;

    font-size: 19px;
}
input[type = 'text'] {
    margin : 0 0 25px 0;
}
input[type = 'text']:focus, input[type = 'password']:focus {
    outline: none;
}


/*
    PwdContainer
*/
#PwdContainer {
    margin-bottom : 30px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}






/* 
    RegisterLink
*/
#RegisterLink {
    text-align: center;

    margin-top : 25px;
}




/*
    TABLET DESIGN
*/
@media screen and (max-width : 1024px) {
    main {
        width : 60%;
    }
}

/*
    SMARTPHONE DESIGN
*/
@media screen and (max-width : 465px) {
    main {
        width : 90%;
    }
}
