@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Roboto&display=swap');


* {
    margin : 0;
    padding : 0;

    font-family: 'Roboto', sans-serif;
}
table {border-collapse:collapse;}
a {
    text-decoration: none;
}

li {
    list-style : none;
}

td {
    padding : 5px;
}

#LDiscussionContainer {
    width : 600px;
    height : 60%;

    background-color : #20232A;

    box-shadow: 0 0 15px rgba(21, 21, 21, 0.8);

    color : white;

    position : fixed;
    top : 20%;
    left : -560px;

    border-top-right-radius : 25px;
    border-bottom-right-radius : 25px;

    display : flex;
    flex-direction : row-reverse;
    align-items: stretch;

    transition : 1s;
}
#LDiscussionContainer:hover {
    left : 0;


    transition : 1s;
}


#LDTitle {
    padding : 10px;

    writing-mode: vertical-rl;
    text-orientation: upright;
    user-select : none;

    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size : 15px;

    cursor: default;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    background-color : #ff793f;
    transition : 0.2s;
}

#LDTitle:hover {
    cursor : pointer;
    background-color : #ec7c4c;

    transition : 0.2s;
}

#LDiscussion {
    width : 100%;
    height : 100%;

    overflow-y : scroll;

    display : flex;
    flex-direction : column;
    align-items: center;

}

#LDiscussionContainer ::-webkit-scrollbar {
    width: 9px;
}
#LDiscussionContainer ::-webkit-scrollbar-track {
    background: #888;
}
#LDiscussionContainer ::-webkit-scrollbar-thumb {
    background: #ff5252;
}
#LDiscussionContainer ::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.Discussion {
    width:  100%;

    padding-top : 20px;
    padding-bottom : 20px;

    cursor : default;

    font-size : 17px;
}
.Discussion > tr {
    margin-bottom : 10px;
}

.Discussion:hover {
    background-color : rgba(200,200,200,0.1);
}

.LinkDiscu:hover {
    color : #ff793f;
}

.Open {
    color : #218c74;
}
.Close {
    color : #ff5252;
}

#LDiscussion .Discussion:nth-child(odd) {
    background-color : rgba(200,200,200,0.1);
}

td > a {
    color : #ff793f;
}
td > a {
    color: #ec7c4c;
}

#DescriptionTitle {
    font-size : 50px;

    font-family : 'Archivo Black', sans-serif;
    text-align : center;

}
#DescriptionText {
    font-size: 25px;
    text-align: center;
    padding : 20px;
}



/*
    button return top
*/
#returnTopContainer {
    position : fixed;
    bottom : 10px;
    right : 10px;

    font-size : 40px;
}
#returnTopContainer > a > i {
    color: #ff793f;
}
#returnTopContainer:hover > a > i {
    animation: flottant 1s ease-in-out 0s infinite alternate-reverse;
}

/*
    FIRST PART CONTAINER
*/
#FirstPartContainer {
    display : flex;
    align-items: stretch;
}


#DescriptionButtons {
    display : flex;
    flex-direction : row;
    justify-content: space-around;
}

.MainButton {
    padding : 10px 15px 10px 15px;

    font-size : 20px;

    box-shadow : 0 0 5px rgba(21, 21, 21, 0.8);

    background-color : #ff793f;
}
.MainButton:hover {
    transition : 0.2s;

    background-color : #ec7c4c;
}

/*
    secondPartSection
*/
#secondPartSection {
    width : 100%;

    margin-top : 50px;
    margin-bottom : 50px;

    background-image : url("../images/bgIndex.jpg");
    background-repeat : no-repeat;
}

#listArg {
    margin-top : auto;
    margin-bottom : auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color : white;
    font-size : 25px;

    box-shadow: 0 0 15px rgba(21, 21, 21, 0.8);
}
.Arg {
    padding-bottom : 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Arg > i {
    font-size : 35px;
    padding-right : 20px;
}


#responsiveSection {
    margin-top : 50px;
    margin-bottom : 50px;

    display : flex;
    flex-direction : row;
    justify-content: center;
    align-items: center;

}
#responsiveTel {
    width: 320px;
}
#responsiveText {
    font-size : 40px;
    font-family : 'Archivo Black' sans-serif;
    font-weight: 700;
}



@media screen and (max-width : 600px) {
    #LDiscussionContainer {
        width : 80%;
        left : -70%;
    }

    #LDiscussionContainer:hover {
        left : 0;
    }

    .Discussion {
        font-size : 10px;
    }

    #responsiveSection {
        flex-direction: column;
    }
}


@keyframes flottant {
    0% {
        margin-bottom: 20px;
    }
    100% {
        margin-bottom : 0px;
    }
}