main
{
    min-width: 90%;
}

#FormContainer {
    margin-bottom : 30px;
    text-align: center;


    padding : 30px 30px 30px 30px;


}

.FormInput {
    justify-content: space-between;

    width: 80%;
    flex-wrap: nowrap;
    margin : 0 25px 35px 0;
    background : none;
    padding-bottom: 10px;

    border : none;
    border-bottom: 3px solid #ff793f;

    font-size: 19px;


}
.FormInput:focus {
    outline: none;
}


/*
    SELECT OPTION
*/
option {
    color : #212121;
}
option:focus{
    outline : none;
}
select .OptionInput {
    color : #212121;

    outline : none;
}

/*
    LoginLink
*/
#LoginLink {
    text-align: center;
    margin : 20px auto 0 auto;
}


@media screen and (min-width : 1023px) {
    main {
        min-width : 50%;
    }
}

@media screen and (min-width: 767px){
    .FormInput
    {
        width: 43%;
    }
}
