* {
    color : white;
}
a, a:active {
    color : white;
}

html {
    background-color :rgb( 35 , 35 , 35);
}

/* 
    profile
*/
.ProfileLine {
    border-bottom : 1px solid #f1f1f1;
}
.mailLine {
    border : none;
}
