<!doctype html>
<html>
    <head>
      <meta charset="UTF-8">
      <title> Acces Interdit </title>

      <style type="text/css">

        body  {
          background-color : #181D29;
          color            : #ff793f;
          text-align       : center;
          padding          : 40px;
       }
       h1 {
         font-size : 80px;
       }
       ul {
         color : #ffffff;
         text-align: left;
       }
      </style>
    </head>
    <body>
      <h1> Acces Interdit </h1>
      <h2>  Si  vous êtes sur cette page c'est que : </h2>
      <ul>
        <li> vous avez dépassé les 15 minutes reglmementaires pour modifier votre mot de passe</li>
        <li> vous avez mal copié l'url </li>
        <li> vous avez déjà modifié votre mot de passe avec cette url</li>
        <li> vous tentez d'acceder de manière malicieuse à cette page (pas cool)</li>
      </ul>
    </body>
</html>
