          <ul>
            <li> <strong> Si vous n'êtes pas à l'origine de ce changement de mot de passe ignorez ce mail  </strong> </li><br><br>
            <li> <strong> Peut être que quelqu'un essaie d'accerder à votre compte ! </strong> </li> <br><br>
          </ul>
          <span style="font-size : 12px;"> veuillez ne pas répondre à ce mail s'il vous plaît. </span> <br><br>
          <h3 style="color : #ff793f;" > A bientôt sur FreeNote ! </h3>
        </td>
      </tr>
    </tbody>
  </div>
<html>
