<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <div style="background-color : #282828; font-family : 'Roboto', sans-serif; ">
   <table width="648" cellspacing="0" cellpadding="0" border="0" align="center">
    <tbody>
      <tr>
        <td>
          <div style="background-color: #181D29; text-align : center; padding: 10px;">
            <img src="http://image.noelshack.com/fichiers/2019/44/2/1572377411-logothemefonce.png" alt="FreeNote" height="100">
            <h1 style="color : #ff793f;"> Mot de passe oublié ? </h1>
            <h2 style="color : #ff793f;"> pas de panique !</h2>
          </div>
        </td>
      </tr>
      <tr>
        <td style="color : #fff; padding : 40px; background-color :#20232A ; font-size : 14px;">
        Dirigez vous sur ce lien : <br><br>
