<!doctype html>
 <html>
  <body style="background-color : #20232A; color : #fff;">
    <div style="margin : 40px;">
      <h1 style="color : #ff793f;"> Mot de passe oublié ? </h1>
      <h2 style="color : #ff793f;"> pas de panique !</h2>
    </div>

    <p style="margin : 40px;">
      Dirigez vous sur le lien en fin de mail <br>
      Si vous n'êtes pas à l'origine de ce changement de mot de passe ignorez ce mail. <br><br>
      Faites attention peut-être que quelqu'un essaie de vous pirater<br>
      veuillez ne pas répondre à ce mail s'il vous plaît.
    <p>
   </body>
</html>
