<!doctype html>
<html>
    <head>
      <meta charset="UTF-8">
      <title> Mot de passe modifié </title>

      <style type="text/css">

        body  {
          background-color : #181D29;
          color            : #ffffff;
          text-align       : center;
          padding          : 40px;
        }

        a  {
          color            : #ffffff;
          text-decoration  : none;
        }

        a:hover {
          font-size        : 20px;
          color            : #ff793f;
        }
      </style>
    </head>
    <body>
      <h1> Votre nouveau mot de passe à bien été enregistré ! </h1>
      <p> <a href="indexV.php"> Revenir à l'acceuil </a> </p>
    </body>
</html>
